{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"experimentalTernaries": true,
	"endOfLine": "lf",
	"importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
